@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  @apply text-gray-950;
  height: 100vh;
}

.swiper-pagination-bullet {
  background-color: rgba(144, 130, 117, 0.5) !important; /* #908275 soft */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #908275 !important;
}
